<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style-rossi.css">
    <title>Rossi - Brazilian Justice League</title>
    <script src="./js/decisao3.js"></script>
</head>
<body>
<!--     <div>
        <h1>SUPER TUNADO ROSSI</h1>
        <h3>O trapaceiro caiu e enviou o numero de confirmação do Whasapp dele. Com as provas de que ele estava roubando os dados, Super Tunado Rossi consegue que a policia prenda a quadrilha.</h3>
        <h2>Mais uma vez o dia foi salvo pelo</h2>
        <h1>SUUUUPER TUNADO ROSSI</h1>
    </div>
    <div>
        <h2><a href="../../index.html">Voltar para o inicio</a></h2>
    </div> -->
</body>
</html>