<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rossi - Brazilian Justice League</title>
    <link rel="stylesheet" href="./css/style-rossi.css">
    <script src="./js/decisao1.js"></script>
</head>
<body>
    <!-- <div>
        <h1>SUPER TUNADO ROSSI</h1>
        <h3>No grupo de senhorinhas da paróquia ele recebe uma mensagem cheia de emojis e caixa alta dizendo que ISSO AQUELA EMISSORA NÃO FALA!!! A mensagem tinha um contato para vender o "segredo" o segredo da recuperação do Super Tunado Rossi com um número de telefone para contato.</h3>
        <h2>Nosso herói tem que decidir o que fazer.</h2>
        <div class="perguntas">
            <h2>1 - Ele entra em contato com o número</h2>
            <h2>2 - Ele denuncia o número para a polícia</h2>
        </div>
        
    </div>
    <div>
        <h2><a href="./second.html">Faça sua escolha</a></h2>
    </div> -->
</body>
</html>