<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rossi - Brazilian Justice League</title>
    <script src="./js/lvlone.js"></script>
</head>
<body>
    <div>
        <h4>No grupo de senhorinhas da paróquia ele recebe uma mensagem cheia de emojis e caixa alta dizendo que ISSO AQUELA EMISSORA NÃO FALA!!! A mensagem tinha um contato para vender o "segredo" o segredo da recuperação do Super Tunado Rossi com um número de telefone para contato.</h4>
        <h4>Nosso herói tem que decidir o que fazer.</h4>
        
    </div>
    <div>
        <h2><a href="./second.html">Próximo >></a></h2>
    </div>
</body>
</html>