<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style-rossi.css">
    <title>Rossi - Brazilian Justice League</title>
    <script src="./js/decisao2.js"></script>
</head>
<body>
<!--     <div>
        <h1>SUPER TUNADO ROSSI</h1>
        <h3>Em contato com o número, o “vendedor” diz que vai mandar um código de verificação para o celular do Rossi. Já sabendo dessa tática o Super Tunado diz que não está recebendo número e, inverte a situação para pegar os dados do trapaceiro. Ele diz que enviou uma mensagem com o número e pede para o trapaceiro avisar se recebeu, para dessa forma, pegar os dados dele.</h3>
        <h2>Será que eles vão cair nessa????</h2>
    </div>
    <div>
        <h2><a href="./end.html">Continuar</a></h2>
    </div> -->
</body>
</html>