<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rossi - Brazilian Justice League</title>
</head>
<body>
    <div>
        <h1>SUPER TUNADO ROSSI</h1>
        <h4>Após um período de recuperação, Super Tunado Rossi está pronto para ajudar os mais necessitados. Ele descobre que está rolando um boato de que seus super poderes vieram de uma hóstia de whey benzido, quando ele sabe que foi por causa de muito FOCO, FORÇA E FÉ (e whey pós treino de crossfit). Pessoas estão vendendo essas hóstias e roubando dados de pobres desavisados.</h4>
        <h4>Super Tunado Rossi resolve investigar.</h4>
    </div>
    <div>
        <h2><a href="./first.html">Próximo >></a></h2>
    </div>
</body>
</html>