<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rossi - Brazilian Justice League</title>
    <link rel="stylesheet" href="./css/style-rossi.css">
</head>
<body>
    <div>
        <h1>SUPER TUNADO ROSSI</h1>
        <h3>Após um período de recuperação, Super Tunado Rossi está pronto para ajudar os mais necessitados. Ele descobre que está rolando um boato de que seus super poderes vieram de uma hóstia de <strong>whey benzido</strong>, quando ele sabe que foi por causa de muito FOCO, FORÇA E FÉ (e whey pós treino de crossfit). Pessoas estão vendendo essas hóstias e roubando dados de pobres desavisados.</h3>
        <h2>Super Tunado Rossi resolve investigar...</h2>
        <div class="perguntas">
            <h2>1 - Ele entra no grupo de Zap da paróquia.</h2>
            <h2>2 - Ele entra no grupo de Zap dos crossfiteiros da região.</h2>
        </div>
    </div>
    <div class="botao">
        <h2><a href="./first.html">Faça sua escolha</a></h2>
    </div>
</body>
</html>