<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doguinho Caramelo - Brazilian Justice League</title>
    <link rel="stylesheet" href="./css/style-dog.css">
</head>
<body>
    <div>
        <h1>DOGUINHO CARAMELO</h1>
        <h3>O Doguinho Caramelo sabe tudo sobre segurança. Assim como a internet, ele está em toda parte do Brasil, você já viu ele ai na sua rua, certeza! Ele percebe que tem pessoas que usam a mesma senha em todos lugares, facilidando a vida de hackers. Ele percebe que que tem um homem usando a mesma senha das redes sociais no app do banco.</h3>
        <h2>Como ele vai evitar isso??</h2>
        <div class="perguntas">
            <h2>1 - Ele brinca com homem pra inspirá-lo a trocar de senha.</h2>
            <h2>2 - Ele leva um jornal com uma noticia sobre a importância de senhas seguras.</h2>
        </div>
    </div>
    <div class="botao">
        <h2><a href="./first.html">Faça sua escolha</a></h2>
    </div>
</body>
</html>