<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xuxa Maravilha - Brazilian Justice League</title>
    <link rel="stylesheet" href="./css/style-xuxa.css">
</head>
<body>
    <div>
        <h1>XUXA MARAVILHA</h1>
        <h3>Para ajudar os baixinhos e baixinhas a não se exporem demais nas redes sociais, Xuxa Maravilha resolve voltar a sua época de rainha! Porém já se passou muito tempo e ela não sabe qual abordagem usar para atingir a nova geração!</h3>
        <h2>Qual estratégia ela deve escolher???</h2>
        <div class="perguntas">
            <h2>1 - Fazer um novo programa de auditório.</h2>
            <h2>2 - Criar uma conta no Tik Tok.</h2>
        </div>
    </div>
    <div class="botao">
        <h2><a href="./first.html">Faça sua escolha</a></h2>
    </div>
</body>
</html>